.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://blogs.militarytimes.com/afteraction/files/2012/11/rutgers-football-helmet.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.1em 0.1em 0.3em;
}